<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298476618636-ecl0ldvc4so5clfi7n0rqub4d45arqt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298476618636-ecl0ldvc4so5clfi7n0rqub4d45arqt9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298476618636-0r51l1pbvalvsgpv3i2857p9iu02qak1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJcyiSevheNG-dOwbctAci9Im98qUKt3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>298476618636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salmdjareb</string>
	<key>PROJECT_ID</key>
	<string>fluttercourse-7326c</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercourse-7326c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298476618636:ios:dba56f430006feb0054ca9</string>
</dict>
</plist>